.top-nav{
    background-color: #ece0d1;
    text-align: center;
    padding: 5px;
  }
  
  .top-nav li {
    padding: 8px;
    font-family: 'Raleway', sans-serif, 'Times New Roman', Times, serif;
    font-size: 80%;
    font-weight: 600;
    
  } 
  
  .top-nav ul{
    padding: 0;
  }  
  
  #logo{
    width: 50%;
    height: 40%;
    margin-left: -10px;
  }
  .top-nav a{
    color: #634832;
    font-size: 90%;
    text-decoration: none;
  }
  
  .happyheader{
    margin: 20px 20px 0px 20px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #634832;
    font-size: 60%;
    font-weight: 800;
    text-align: center;
    
  }
  
  .happyheader p{
    font-family: 'Raleway', sans-serif,'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 90%;
    color: black;
  }
  body{
    margin: 0;
  }
  
  .circle-frame {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #fff;
    margin-left: 37px ;
  }
  
  .circle-frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .firstsection{
    background-color: #dbc1ac;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 10px;
    margin: 8px;
  }
  
  .firstsection h3{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    color: #38220f;
    
  
  }
  .firstsection p{
    margin-left: 7px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 70%;
    font-weight: 400;
  
  }
  
  .image-frame {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .image-frame img {
    margin: 5px;
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  
  .secondsection{
    padding: 5px;
    margin: 8px;
    margin-top: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  .secondsection h3{
    text-align: center;
    font-family: 'Bad Script', cursive, 'Times New Roman', Times, serif;
    font-weight: 600;
    color: #634832;
  }
  .transparentbackground{
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  
  }
  .thirdsection{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
    padding: 5px;
    margin: 8px;
    margin-top: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-image: url('images/coffeeBeans.jpg');
    position: relative;
  }
  
  .thirdsection::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(2px);
  }
  
  .thirdsection p{
    margin: 5px;
    padding: 3px;
    filter: blur(0px);
    opacity: 50;
  }
  .thirdsection h3{
    text-align: center;
    margin: 3px;
    font-family: 'Roboto Condensed', sans-serif;
    filter: blur(0px);
    font-size: 20px;
    
  }
  footer {
      margin-top: 8px;
    background-color: #c08e69;
      color: #fff;
      padding: 2px;
      text-align: left;
      font-size: 10px;
    box-shadow: 0 -2px 4px rgba(0,0,0,0.2);
  }
  
  
  
  
  
  
  @media screen and (min-width: 900px){
  
    .top-nav{
        display: flex;
        justify-content: center;
    }
  
    .top-nav li{
        display: inline; 
    }
  
    .circle-frame {
      float: left;
      margin-right: 20px;
      width: 170px;
      height: 200px;
      border-radius: 20%;
      overflow: hidden;
      border: 3px solid #fff;
      margin-left: 45px ;
    }
    
    /* .circle-frame img {
      width: 20%;
      height: 20%;
      object-fit: cover;
    } */
    
    .firstsection{
        padding: 20px;
        padding-bottom: 100px;
  
    }
    .firstsection h3{
      text-align: center;
  
  }
    .firstsection p{
        display: block;
  
    }
  
    .image-frame img {
      margin: 20px;
      justify-content: space-between;
    }
    #logo{
      height: 100%;
    }
    
  }
        
        
    